.hero{
    height: 100vh;
    width:100%;
    background-image: 
    linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAKgAtAMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAADAAECBAUGB//EAD8QAAIBAgMFBAcHAwMEAwAAAAECAwARBBIhBRMiMUEyUWFxBhRCgZGx8BUjUmKhwdEzcuEkgqJDU+LxFjTC/8QAGgEAAgMBAQAAAAAAAAAAAAAAAgMAAQQFBv/EADERAAICAQMCAwUIAwEAAAAAAAABAgMRBBIhMUEiUfATYXGBoTJCkbHB0eHxBRVSFP/aAAwDAQACEQMRAD8A8qy0+Wp0hWnJoIZaVEprVMkIU5NTCU+So2EkDFOBRMvBSC0O4m0iFpCinsf7vkP81EUO4PBC9JjRMnA311qJXs/XWh3IvDIXpjRCtMBV7sEwRByezSYf+P8ABqYFLhoN4W0DemJqUgpglXuQGHkgeOo5KOVqBFKcyNA8tMVqdRJoSgeWnpZqVQos09RqQrcAKmvU7U9qoLAymnzVNR7TfX+KSJneqbQzaSLKiZfabVv2FR9untx04FBwWNepxrnemUUSBeOgk1gKCy0Oq/dN9dQag0fAv93zq1l7X9o+VCZG/wBtZlYaHVwARc9IpUyvHU5B/wAtVqOwDblAStDIopFMVqbisAhHRdxwcFK1LM3sULk2RRXcCwoTVZcZ/wC751XYVaeRc4gTUDRWoZFFkW0QNKlanoisFqnFSCU+WtuQMDA0RV4/y0gKmv8An+KCUg4oRFOoyJSNKgbD7jWqQHA3wX96myZP0qJ7FDnIezArcCr9a1OONvYqaw5/Z7qs4bDq/wDt7X+KRZYoo0V0uT6AwjZG4qHl4K0zhl3TNm9r9qovHkTN2qxq1SfBqsqlFclW9OONP7fr+KkEpglMyZtrRG1JXXsvTMGpCFvbq8opJkiVobMtTZKA61ESTaIlqg/HSIpqZgR1BGoEUVhUSKIBoDalRMtKiyUXL01NT1pFjijwhf6kvZ/D3nu8qCi1Nz+Ds8l8qGXPA2HHI7HO/wDc1HSPJE0/5gieJtcn3afGoYVePM/s6Kve3T+anO3Gqp2Y1svn1PvNKbecIdGOFuZAj+Kk6/sKdVqR/FVNjFHgubP7H5tS3iDy+Rq/Aq1m4fgze4fAVoYSVUfLK1c/UJvLR1NK1wmCljZ+H2aH6qyYfd5fa/i/yrbEMTpm4aEyMnYasH/pfRI2y0ifLMT1bJ7NReFfYrQdGf2qh6u1OV3mzM9MuyM0R8dSMdX2w7J7NBZaZG3cKdO1FJoqryRVqFKryJ+WmwmZrKTOaOgkVoOlU51rTW9zMlkNqAkfzUQtOrVM058CFyDy0qlelQhYCCpBaSipDj4a1ZEJElGRPzN8vr5GkBx05ouFRndd0uZtMqrrrew/W1A5JLI2Ky0gkCqjs3/bXh8XOn8/ChojP2VZszeyt/Kt7YuxsNi2gWeZlVjeVWFmFjboTpz7ib9OdbUWxYPW93EszRRueFrothyJA6nzrmXf5CuuTS5Z069HOSTfBxrRTpLuN2ysrHNm6W5/XhQ7T+3H/wASK9f2R6NRypP2VaS15m4YxqDlVQADoB8OVYu0tlM+0p/VVkxECvuxw8yAOQHW9Y/9k3zjgdVTTOThu5Rw2HGd17S8y1bKQQZMyLxV1r+h08OCxOLxGFjWNUHa7V72uADz/k1zbxMmbdRtw89KXbqpWYWMG7SQqe7a08Ao42ohjb+6jYbDySvEqrxSEAZu8/LmKvNgZUdldezz93W9Yp2YZtzBcNmOYuPs05grWOEbJvOHLp+uo/Shxw50ZlXs/X7VXtSeBmVZey1Bkw1XMWMnC65aoNN+atValJZQmzbHhg3jVKruFqWKxDZKy5cQ2ftVupplLlnOvuhEsSBfxVTmRXobu34qHnat0KWu5zbLovjANo6iamWpmNP5MvAOmpUqLCByWKmlD+lro/RzBKkqtLh95iWF0aTVYx0IW4J582sPOlajUKqDY3T6eVssDzejrbP2fhMfj8VGu+P/ANbnIe6w1v1vpp4626XYGxGdMS2MaTAtGpmWFUGbkMga+pYkjyufdo+jPo+20toRS4pt9PHx527KA93ee7oP1HU4PYEXrWLxOKb7uNjn4zZmF7a2H141wLdTddx19/b0l1Z0nKnTNxzz9TnNibHkV/vZM0rNmOY6qvIcutgNPKuvwmzYPvVw7bvDXBmmW15T1QHu8qztnxLvmXMytfika2gt4DTl8qntDamaJYME3CuiL1Nr6/vXKhd4nOXPr8hd8rbp7Yhtt43PDHHFJuYOIcP4b6m+uulvM1pejzrLDAGjX7sM2nMHTTzsQfhXJYjGtnWOLdtwWdmAsLnTU9Sda6/0UhP2bv8AJl3iKBm62Gpt4k291bNDuu1KbXpf0Z9XV7LT494f0pLLsp+zl9vysf3tXG7D2BHjZW4l3FgGZuZPhy8a7f0gVPs/NJ2F7Xlb/wBVzmzMQuHdoIu1c2bTqpIB/Q/Cj/yktms8XTCB0Vs4aaSr6l/EbCgTYathQscqpcyKtyw52rEx0OEl9bXiWeyImvNQCSCOR5X07q7rCrusLFA7ZmVBf9Na4P0hTdelGG3XDCpu/K2i2J8bDpRa7TRrjCceMrD+KXr5l6G6dk5Rb6Zf6mV6N4qPNjtm4qLeI336NbiDC1gB77VhYPF+qY2WOVpJHhYF4dAZYyTntfk2twDXRbQTBQ7Qw0+DzLHks+ZydXAJOviQfdXBYuKf1rFzxK29jmULJHe5Ym2p6cxz5nkaGlRtbXbH6nZTzma6S7HZbe2Tlwm/w8i4jCTLeDEr387Ed/hXAY1J8JLll/46gg9Qa6vYW3ZNlS/6qLfbNxQHrECsCqq3Jx3EHp+9F9JdhQYhFk2bJvlZLxMpGvWxHQ+Gn86abY6eaT+y/oBPdJbG+V0fn+zODkxDPwvVaQ+19aVYxOHZM2dfaI945igsv19e6u3DbjMTl2bs4kCIqDCjFagwpmRDQFqjepmhmiAZGlT0qsDB1XotsHDYvae7lbeKr2eddVJvyQdfM6VvQ4KD7fxfqsKw4bOqJDG5LWA0Lkkm5t779BTS4mLZWz+Bo4Z8uRFa5K95AHXnqeta/oVgt7E0iLxaFmaxyX5knvIry+o1NjjKb6PhHoVVXSs/8o7bYyR7M2fmVfvZPiT3AVU2hjsTLh1zq0cbaRdATe99efL9ar7Q2ikEWbNm0yRKumc9WI6DnXOy7RkxGIXPJmyjxI79PC1via5S3zWOyMtGklZJ2SRskM0/q2Cb1hmvmLaAnqb6aa8zWdNKy5o/D2bddNT10HId9BmxuVcqMuZhmdh06a6aW00q9sbZzY37/ESNHgUa7ycjJ4KDzHj4+6mQqb5wbNqqjun0H2LsnE7QxUkCLlWN+Nvw87AdL6W+Neiq0WFSHDKy8gBqLkDr9d9cmm2YNn4dY4lWHeG+7XtBO8nq5t7hQ5dsrNLFJiGy4lrgR5rAZhYi41AA6958a6FGpr08PCsyff3HK1dd2pkm1iK6Gj6TbTjTDtHK2ZW48q88gvb4kX+HdVD0SizvPj8bHl3bqgVuQIWxPn/Nc5tXaq4jbE6o2VYZQMuX2ByAHTW3uFb+ytoRNhWwmb2BI3vIIHwApNlz9t7SzkdLTOnS7Yrr19fQ6mPE/wCsxMnaiVFIZdb3F7AeQB99cZt3E/0OFt7MSfFQFu1/EkfofdGfb8TOuCwsjLKuJznpaOKyi/gcoPnesX0k2zxvi94qrGwHCupuAWHvJP60V83dKMceb+bK0eklXPdLy/L+SWIhyJmxDNHFNl3LZQQVBIuQO4AWHh5VmYiKRcak+HjX/WDJLGp4XPXUaA9fMVRn2m2LiaRlywK11a2gNgRYdO/9KpYTbUEUsGGnzLBI5E0mbkCRZhfkRoe4geGrK9PZjKR1JWRgllgcVM2EdoGj7Nwy8iUPT676t7MnkiddxissDdtZBcFbaEAciCACb6DXUA1ZxBZJmw2PjWRW4EmS1nB1BBGo/wA9xoW1tkfZ7ZtmyN9mzLdGZyTE3OxI52PuI+NPUoSWx9/wZJtp57E8QuG2m7ZsseJW4fN152OnMeP81g4zZ8mHly5e0v1bvH7UVto4nD4v1vCqrcGR4dbOptde/uI7vnrbPxMGIiglxEbTbPkJzMw4oZAeRI1t0JHSxpsHZp+V9nyFWeyuymuTmWSq8gr0v0u2BgtoRfaHo9GvDbfYaIAGM+KjoehGhrzafg4XroafURuXBy7Y4WSs9CNFc0Jq2IxsV6VRvSqwcne7N2bHt59/iFaNc3Ey9F5g3PK499dmuPw2ydn+oYOP7q4DMupdjyB6k1x0W24IpYsMsn+m0L5iRmIIFiLDQcvjoKA/pJJ6w0yqytDchstyPxHxItz+VeWt09tssfd8j0UnXLmb/s6YzKjSz7SVpGVTlgJK3IuLG2oGYC405VmRFsjdnMxOd2J6kaAfqfhVbYMv2hO+JxiyR4KPtye097WC97EnyHPpVdsXBjsbmwsaw4FXYrHm5qCL6nUjU6+ZPOpGhxyvIeroJ8d/wNqKP1jLGjZYNDmXUlrG1+89e4a91XdtYxsFh44RwxKgdWf21t08ANegt4EVknakGHw+/lVlw2tlXnJqL9QSDoPEdSLmsHaG2pNsY3eZmzZC8zJ+Ac1BsAAB7jf3VK9NKyXK4Qq21KSbwa2K9IGw8O/w/wDXYZxNI1jkB5gdLnl7ufTW9EomxG0MNjcfiPusm9mXQ3e+mvW9yT3WHfXnIn9bxDSSq2XTNlW9tdABpa5sK7c7Siw+H45Pu41UKqGxIHMA9bWGv+adqKPZRUYLlia5+33POEW/TebDYjbTYvBKq7xgHy2tmsALgcye/wAD31pw7Rw2H2flijj9cw8UshbLrJYCwJ6/tqK4Dam2fWN6uFXLu3U5so1N+nj08qebHT4TES4lsywScarIpzFbA2PhcL11uPGo9LOcVu6/mRzqUVWnwv5RoYLFyJiliiWRcSyr/TQlstwCxI5DnY/sb0bbuH+2EkxEEkkeG3rJErarKwNioPQi/M/5rKbFtFtiNsEqrLMVBhjUqLDQ89NSD4aknlViGf1fZ+JjxWZYmlMkK8mzMbggfhsQb+OnOmOvbJTj1C3qWVLpzkx9pmfZm09xlXf4VgM2fNcg3voep1591S2kkMuE9eiXdsxGeHqLi4JHPUEEHqNalioo8Ps9p+1iWmzw4i5uADa9uWunwqm+JaVd5m/I8a9EBuBY8uZt3ajz2w8STXb6mGXgbjLuaexNpr6v9m49lbDSf0ZJB/SbllJ5gH/PTTekmaLfwytlVXsY5NQBzAJ7r8j1Fc/Lg8JtPBSYvZEbR8I9YwT3Y35koeo0vYm4uaJsXELi8O2GlZWnhQmKSUkF4+ov3jp4e8VmuqjLM4/Nfr6+Jq017i1B/IpTK0KSzsuaDMUbiu0V+RPeLgj/ANii4DbkuClkzrvoJjfEQ9SbW3iHobWv0PypYufJmV/Z0dVUXsT8DbpVLF5cPiPuGWSLQo2Ui4OvLp1BHQitcalZHEjLbc63mJ2UrNLhIMbsjFNHluIpo7hhfnGw7vA6edYOPxvrssq7SWODFxkAzKpAk56sB8x38u4OExcmz8s+CbNvFG9h7SSeI8RyI0I6d9bWDxMG08PJiYoczZTFNA1i2U2uUPMjTkdbgUhQdDzjK7Pv8PXBo3rUcdJfRnLOMn1cfGhtWrhcNs3C7QyY9sU2BZCDJFYPESRZspFiB1A53OtxVn/4tjcRLKuAkhxWUbyHI9jiY9SSgPMgDUXzC/I10FfBdWcuVM03x0OfpU8o3chSRWRhzDc6VOymJaaJrMzy72Vv7m5nlWhgI5MRmkfNlawfL18B3km372FzWQDWjG7Sou9bcwKva59egPPyH80iyPHAyifi5N1dptjd1gdmw5mW4RfYj0IJJ68zry+AoM2Nw2By4KKTeZdcRNGxIdxfhv1UeFhrWY+0l9X9S2bDuVk0lkzccvgT0F+lZzcDtlkVunDes0NOu6wvXLNVmraxjl/T5fua20NrSbQzR7xY4FS6RsptfS9hrYm3PzF6r4XFtgXlyf8AWRo2zfgIII95+VUI+3RHdXzL7S2C+VyTf3kU9VRS2roZXfKUt7fJZVvV5VixGaODhmy/9zQlTp0N/gatbR2hJLi5eKNVyg8PZNwDYg89NLctKxganVutZyyK+Si4o0FeT1eDDJwriLTszW6FgCSNQAAdD337q0dtTsmHwKsrL2jEr2PCDYk631Iv5g1mYPFQYfDsssayNItm4iMtrkWt42uOWnjQ8diN76t99vMqX/sJN8o77C3xNKdblNZXQerVGt4fLwb2z8QsuKx2Nij+9V980zKfugCbnTkDfu1uBWBJjZ2l37SZmZchzdVtax8KmMdPDh5cMjcMjDP3G17Xtz118wKq5+PNlXtXy5dPh3VddW1tsG6/ckl8TowI5dn8TM2GjyJwrYyXa5J10toL9551z0C53ZeLi7OX5nyrWjmizt9zJDwtmhzaBTcELfmL3I+BvzrKwc/q+LWX82vip0I+FVUmlLAy+UZODZoGbF7ByrhcZllmW80K3K2BBAYHQk6+I99ITti5WxeHjXeqpzwtrfqSO8c/EUPH4RXxcs8Ct6s0pAaRh52v10qnIfV8RL6vN/TfhkjuA9ibEX5d9XGMZrPf11AlZKqTX3cmjicTHi0g9dXiWIIky9oqNAG77aaHu6VUkkVcE2GTK0TG69cjG2o6i9gLeVEiOG2hl3rbiVdWVbBZLa6X0U/p18KoyjdS5XbN+bz771cIpcEsnxu8+4AOydhq0YI9pQ4Rdr4dW3SuYzIrAgkAXBAN+RHMa3rMbgfL7VW8LtCfCRNHE3DJ217/ABp002uEZ6pJSxJtGrHtCPaGVsqriV/EoPMWOnUHl8+8Fw+0W2f9xFmXKxdV6AjUEH6/WsHEzK7rljjjZVAzRDLe3U25nxqWGxyoyriFzJ7XfbqR4/pSHp049OPI2x1jT5fPmdU+1sPtNvWcXs+Gec8LuJN2SR3jqfHXzpVjnZhxB3mz8SZIT7SrY38RfQ94186VI9nUvvY+bHq23H2U/wADIvkpO+f/APNRpV0TiZJA01NSqEyEjPa4fZ8dPL5a99Mv19e+mWkpqF5HWjwzbreqvtIB+oP7UFKQ7dC1ktNp5QhTA07CorVkyWsS8D7jdR5WVAHZb2cjrr1rRXA7PfZStFJN69e5XTJl7gLXvpe9/dWMtGhlyOudmy5hmy0qcHjwsdXZHL3rqFYNh5Ylxu8jyoHTlcKRcEA8xre3ia1cFseNMVP9pSLGsYD5kcFXB1uvepHzHlQtqY1Xing3a5ZHU99sqgAg+V/jVVJ8+H9UeTeRK14my6oDz8rd1JbnOGVx67GqKrrscZc49cl70j2t9pywYTDx5cNC1oVvYC4F+4anrz5a1kYqBcO7QPxSqylZF5WIuRY9dR8DU8UIMOjRRZZmb/rdQBrYDp5m506UCeeXEOzStmlbtM3XrTKoKEUo9DPfPMm5dQNNJI2TK7My05qJFaDNlkG/N2vZy2tSp5Czvm/j9qh2OF6sFst4RcNKmIilzLPYGGRTwgi9wRbW4Oh6EDvqk9SvSKNk3mXhvZm8fGq7l5ysYB3pUqVWDktXpqVKqIOKVKlULHTt1JBwNSpVGWJO3TuvGtKlQ9yDSCnEbZM2VsrXyt0NudqVKo3gJLIlFaW0diY3Z+Hw088a7rERLLEysCCp5XtyPge6lSpF1jhOKXdj6a1OMm+yKuEw7Yh2XeQx7tC+aZrAgW0HeddBU9mNhk2hA2MVmw2cb1V6ilSprjuTWQU9qUkG9I8XJjdsYmeVcvFkC6WVVAAAtpYADlWZSpVK0lBJA28zb94xpiaVKjFEDTTLkytmzZlv/g360qVWTsQvTozJ7Xg3jSpVCo9Q6yhkUSYeOTKLAsQDb4a0qVKgHrOD/9k=);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    text-align:center;
    color:white;
    padding:0 1rem;
}
.hero h1{
    font-size: 3rem;
    font-weight:bold;
    margin-bottom:1rem;
}
.hero p{
    font-size:1.2rem;
    max-width:600px;
}
@media (min-width:768px){
    .hero h1{
        font-size:2.2rem;

    }
    .hero p{
        font-size:1rem;
    }
}
@media (min-width:480px){
    .hero h1{
        font-size:1.8rem;
    }
    .hero p{
        font-size:0.9rem;
    }
}

nav{
    background-color:grey;
}
nav ul{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
}
nav a{
    display:block;
    padding:14px 20px;
    color:white;
    text-decoration:none;
    transition: background 0.3s;
}
nav a:hover{
    background-color:darkgrey;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:#444;
    min-width:180px;
    flex-direction:column;
    z-index:1;
}
li:focus-within .dropdown-content,
li:hover .dropdown-content{
    display:flex;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    width: 100%;
  }

  .dropdown-content {
    position: static;
  }
}