header{
    background: color #a67658;
    padding: 10px 20px; 
}

nav{
    background-color:black;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content: space-around;
}

nav img{
    width:60px;
    height:auto;
    margin-bottom:5px;
}

nav a{
    color:white;
    text-decoration:none;
    padding:10px 15px;
    transition: background 0.3s ease;
}

nav a:hover{
    background-color:#8b5e3c;
    border-radius:5px;
}

.dropy{
    position:relative;
    display:inline-block;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color:lightgreen;
    min-width:150px;
    box-shadow:0px 8px 16px rgba(0,0,0,0.2);
    border-radius:5px;
    z-index:1;
}

.dropdown-content a{
    display:block;
    color:gray;
    padding:10px 15px;
    text-decoration:none;
}

.dropdown-content a:hover{
    background-color:#eee;
}

.dropy:hover .dropdown-content,
.dropy:focus-within .dropdown-content{
    display:block;
}

body{
    h1{text-align:center;}
}

.calm{
    height:100vh;
    width:100%;
    background-image:
    linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(slothcafe.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:0 1rem;
}

.meny-meny{
    background-color:black;
    color:gold;
    font-family:playfair display,serif;
}

.meny-section{
    padding:2px;
    display:flex;
    align-items:center;
    flex-direction:column;
    
}
ul{
    list-style-position:outside;
    padding-left:40px;
    background-color:red;
}
ul li{
    line-height:2.0;
}

.kontakt-form{
    display:flex;
    flex-direction:column;
    width:300px;
    
    background-color:green;
    padding:20px;
    border-radius:12px;
}
.kontakt-form label{
    margin-top:10px;
    font-weight:bold;
}

.kontakt-form input, .kontakt-form textarea{
    margin-top:5px;
    padding:8px;
    border:1px solid black;
    border-radius:6px;
    font-size:16px;
}

.kontakt-form input:focus, .kontakt-form textarea:focus{
    border-color:lightbrown;
    outline:none;
    background-color:lightgreen;
    transition:0.3s;
}

.kontakt form button{
    margin-top:15px;
    padding:10px;
    background-color:brown;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
    transition:background-color 0.3s ease;
}

.kontakt-form button:hover{
    background-color:rgb(94, 9, 9);
}